Beginning ASP.NET 2.0/Chapter22/WebClient/App_WebReferences/localhost/StockQuote_DataObject.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.prosetech.com/Stocks" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.prosetech.com/Stocks" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Methods to get stock information.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.prosetech.com/Stocks">
      <s:element name="GetStockQuote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticker" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockQuoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStockQuoteResult" type="tns:StockInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="StockInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="High_52Week" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Low_52Week" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStockQuoteSoapIn">
    <wsdl:part name="parameters" element="tns:GetStockQuote" />
  </wsdl:message>
  <wsdl:message name="GetStockQuoteSoapOut">
    <wsdl:part name="parameters" element="tns:GetStockQuoteResponse" />
  </wsdl:message>
  <wsdl:portType name="StockQuote_DataObjectSoap">
    <wsdl:operation name="GetStockQuote">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets a price quote for a stock.</wsdl:documentation>
      <wsdl:input message="tns:GetStockQuoteSoapIn" />
      <wsdl:output message="tns:GetStockQuoteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StockQuote_DataObjectSoap" type="tns:StockQuote_DataObjectSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStockQuote">
      <soap:operation soapAction="http://www.prosetech.com/Stocks/GetStockQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StockQuote_DataObjectSoap12" type="tns:StockQuote_DataObjectSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStockQuote">
      <soap12:operation soapAction="http://www.prosetech.com/Stocks/GetStockQuote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockQuote_DataObject">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Methods to get stock information.</wsdl:documentation>
    <wsdl:port name="StockQuote_DataObjectSoap" binding="tns:StockQuote_DataObjectSoap">
      <soap:address location="http://localhost/WebServices/StockQuote_DataObject.asmx" />
    </wsdl:port>
    <wsdl:port name="StockQuote_DataObjectSoap12" binding="tns:StockQuote_DataObjectSoap12">
      <soap12:address location="http://localhost/WebServices/StockQuote_DataObject.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>